# Anonymized test data - generated by anonymize_fl_api_data.py
interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://foreninglet.dk/api/members/status/resigned?version=1
  response:
    body:
      string: '[{"MemberId": 832531, "MemberNumber": 94676, "MemberCode": "_jCk&b*fr2",
        "FirstName": "Christopher", "LastName": "Ravn", "Address": "Lipkes All\u00e9
        30", "Address2": "", "Zip": "9748", "City": "\u00c5rre", "CountryCode": "DK",
        "Email": "preben27@example.net", "Birthday": "1917-10-05", "Gender": "K",
        "Phone": "+45 06 62 43 66", "Mobile": "52 45 76 46", "EnrollmentDate": "2001-10-27",
        "DeliveryMethod": "Email/Dankort & udlandskort", "PbsAgreementNumber": "0",
        "Note": "Forhandling af rejse.", "Password": "^(9oLKovww", "Saldo": 1250,
        "SaldoPaymentDeadline": 0, "Created": "1984-01-27", "Updated": "1958-11-30",
        "Property": "", "GenuineMember": 1, "Image": 0, "ReceiveNewsletter": 0, "MemberField1":
        0, "MemberField2": "ja", "MemberField3": 260, "MemberField4": "", "MemberField5":
        "", "MemberField6": "", "MemberField7": "", "MemberField8": "", "MemberField9":
        "", "MemberField10": "", "MemberField11": "", "MemberField12": "", "MemberField13":
        "", "MemberField14": "", "MemberField15": "", "MemberField16": "", "MemberField17":
        "", "MemberField18": "", "MemberField19": "", "MemberField20": "", "MemberField21":
        "", "MemberField22": "", "MemberField23": "", "MemberField24": "", "MemberField25":
        "", "MemberField26": "", "MemberField27": "", "MemberField28": "", "MemberField29":
        "", "MemberField30": "", "ConsentField1": "ja", "ConsentField2": "nej", "ConsentField3":
        "", "ConsentField4": "", "ConsentField5": "", "Activities": "41585,48330,48340,42187,47921,48306,47025,42001,45063",
        "activity_ids": [41585, 48330, 48340, 42187, 47921, 48306, 47025, 42001, 45063]},
        {"MemberId": 78905, "MemberNumber": 5160, "MemberCode": "VbI8GzDh@2", "FirstName":
        "Klaus", "LastName": "Koch", "Address": "Ny \u00d8stervej 215", "Address2":
        "", "Zip": "1714", "City": "Videb\u00e6k", "CountryCode": "DK", "Email": "gustav91@example.net",
        "Birthday": "1922-03-17", "Gender": "K", "Phone": "+45 1444 9751", "Mobile":
        "6333 2424", "EnrollmentDate": "1919-04-23", "DeliveryMethod[...]
