# Anonymized test data - generated by anonymize_fl_api_data.py
interactions:
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://foreninglet.dk/api/members?version=1
  response:
    body:
      string: '[{"MemberId": 793134, "MemberNumber": 89402, "MemberCode": "%CFJpy6A08",
        "FirstName": "Simon", "LastName": "Lauritsen", "Address": "Liselundgade 3",
        "Address2": "", "Zip": "5460", "City": "\u00d8ster Assels", "CountryCode":
        "DK", "Email": "sandreasen@example.net", "Birthday": "1976-07-25", "Gender":
        "M", "Phone": "+45 0285 0003", "Mobile": "4644 2987", "EnrollmentDate": "1994-03-28",
        "DeliveryMethod": "Email/Dankort & udlandskort", "PbsAgreementNumber": "0",
        "Note": "N\u00e5 radio klare kan side f\u00f8r arkitekt.", "Password": "2YZuJJ2r!e",
        "Saldo": 400, "SaldoPaymentDeadline": 0, "Created": "1920-12-08", "Updated":
        "1978-09-23", "Property": "", "GenuineMember": 1, "Image": 0, "ReceiveNewsletter":
        0, "MemberField1": 0, "MemberField2": "nej", "MemberField3": 381, "MemberField4":
        "", "MemberField5": "", "MemberField6": "", "MemberField7": "", "MemberField8":
        "", "MemberField9": "", "MemberField10": "", "MemberField11": "", "MemberField12":
        "", "MemberField13": "", "MemberField14": "", "MemberField15": "", "MemberField16":
        "", "MemberField17": "", "MemberField18": "", "MemberField19": "", "MemberField20":
        "", "MemberField21": "", "MemberField22": "", "MemberField23": "", "MemberField24":
        "", "MemberField25": "", "MemberField26": "", "MemberField27": "", "MemberField28":
        "", "MemberField29": "", "MemberField30": "", "ConsentField1": "nej", "ConsentField2":
        "ja", "ConsentField3": "", "ConsentField4": "", "ConsentField5": "", "Activities":
        "48570,43692,44051,48278,40622,44820,46720,46779,45862", "activity_ids": [48570,
        43692, 44051, 48278, 40622, 44820, 46720, 46779, 45862]}, {"MemberId": 284398,
        "MemberNumber": 67953, "MemberCode": "3sOkG66)_x", "FirstName": "Lasse", "LastName":
        "Henriksen", "Address": "Geislersgade 108", "Address2": "", "Zip": "6765",
        "City": "Klemensker", "CountryCode": "DK", "Email": "signedanielsen@example.com",
        "Birthday": "1948-08-10", "Gender": "K", "Phone": "66867974", "Mobile": "84
        15 70 86", "EnrollmentDate": "1917-03-21", "De[...]
