# Anonymized test data for the ForeningLet API activities endpoint
interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://foreninglet.dk/api/activities?version=1
  response:
    body:
      string: '[{"ActivityId":"45050","Name":"Halv\u00e5rs medlemsskab","PriceNow":"750.00","OnlineEnrollmentEnabled":"1","SettlementDate":"0000-00-00T00:00:00+0000","CloseDate":"0000-00-00T00:00:00+0000","ExternalDescriptions":[{"Headline":"Pris","Text":"750,00
        DKK"},{"Headline":"Alder","Text":"15-127 \u00e5r (f\u00f8dsels\u00e5r 1897-2009)"},{"Headline":"Betalingsmuligheder","Text":"<ul><li>Via
        Dankort eller internationalt kreditkort<li>Via Dankort eller internationalt
        kreditkort (tilmelding til abonnement)<\/ul>"},{"Headline":"Indmeldelsesgebyr","Text":"Hvis
        du ikke tidligere har v\u00e6ret medlem, vil du blive opkr\u00e6vet 150 kr.
        i indmeldingsgebyr. Er du p\u00e5 din e-mail adresse blevet registreret, som
        st\u00f8ttemedlem vil dette v\u00e6re reduceret til 50 kr. <br \/>\nFor at
        du f\u00e5r det reducerede indmeldingsgebyr, skal du logge ind med din e-mail
        adresse samt det tilsendte password. <br \/>\n"}],"Categories":[],"DepartmentId":"6205"},{"ActivityId":"45051","Name":"Hel\u00e5rs
        medlemsskab","PriceNow":"1250.00","OnlineEnrollmentEnabled":"1","SettlementDate":"0000-00-00T00:00:00+0000","CloseDate":"0000-00-00T00:00:00+0000","ExternalDescriptions":[{"Headline":"Pris","Text":"1.250,00
        DKK"},{"Headline":"Alder","Text":"15-127 \u00e5r (f\u00f8dsels\u00e5r 1897-2009)"},{"Headline":"Betalingsmuligheder","Text":"<ul><li>Via
        Dankort eller internationalt kreditkort<li>Via Dankort eller internationalt
      [...]
