name: dagger-ci

on:
  push:
    branches: [main]
  pull_request:

jobs:
  ci:
    name: ci
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      
      - name: Install uv
        uses: astral-sh/setup-uv@v4
        with:
          version: "latest"
      
      - name: Set up Python
        run: uv python install
      
      - name: Install dependencies
        run: uv sync
      
      - name: Run Dagger CI Pipeline
        uses: dagger/dagger-for-github@v8.2.0
        with:
          verb: run
          args: uv run python dagger-ci.py
          version: "0.19.11"
          dagger-flags: "--progress plain"
