name: Lint and test
on:
  push:
    branches: [main]
  pull_request:

jobs:
  lint-test:
    name: Lint and test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.12.6'
      - name: Install deps
        run: |
          python -m pip install --upgrade pip poetry
          poetry install --with dev
      - name: Lint with black
        run: poetry run black --check .
      - name: Test with pytest without integration tests
        run: poetry run pytest -m "not integration"
      
