on:  
  workflow_dispatch:
    inputs:
      packageVersion:
        description: 'Package Version'
        required: true
        default: '0.0.0'
      commit_sha:
        description: 'Commit SHA'
        required: true
        default: ''
    

jobs:
  github-release:
    runs-on: ubuntu-latest
    environment: release
    permissions:
      # IMPORTANT: this permission is mandatory for trusted publishing
      id-token: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.inputs.commit_sha }}
      
      - name: Install uv
        uses: astral-sh/setup-uv@v4
        with:
          version: "latest"
      
      - name: Set up Python
        run: uv python install
      
      - name: Install dependencies
        run: uv sync
      
      - name: Build package
        run: uv build
      
      - name: Archive release
        uses: actions/upload-artifact@v6
        with:
          name: release
          path: dist/*
      
      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v6
      
      - name: Create tag
        env:
          PACKAGE_VERSION: ${{ github.event.inputs.packageVersion }}
          COMMIT_SHA: ${{ github.event.inputs.commit_sha }}
        run: |
          git tag v${{ env.PACKAGE_VERSION }}
          git push origin v${{ env.PACKAGE_VERSION }}
      
      - id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PACKAGE_VERSION: ${{ github.event.inputs.packageVersion }}
          COMMIT_SHA: ${{ github.event.inputs.commit_sha }}
        with:
          tag_name: v${{env.PACKAGE_VERSION}}
          release_name: Release v${{ env.PACKAGE_VERSION }}
          body_path: releasenotes/${{ env.PACKAGE_VERSION }}.md
          draft: false
          prerelease: true
          repo: ${{ github.repository }}
          commitish: ${{ env.COMMIT_SHA }}


